{% extends 'layout.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangoWeb</title>
</head>
<body>
    <div class="banner">

    </div>
    <div class="titulo">
      <img src="/static/images/banner.png" class="img-fluid">
         </div>
    <div class="contenido">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Tu negocio al alcance de todos.</h1>
              <p class="lead">La web como la herramienta mas importante para que todo negocio explote sus posibilidades.</p>
            </div>
          </div>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Incrementa tus ventas.</h1>
              <p class="lead">Implementa herramientas de e-commerce y métodos de pago. Hace crecer tu negocio! .</p>
            </div>
          </div>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Asesoramiento y soporte para tus páginas.</h1>
              <p class="lead">Contas con la ayuda que necesites para que tu experiencia sea la mas adecuada para tu proyecto.</p>
            </div>
          </div>
    </div>
    
</body>
</html>

{% endblock %}